<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-4">
        <h1 class="mb-3">Category Master</h1>


        <% if (typeof error !=='undefined' ) { %>
            <div class="alert alert-warning" role="alert">
                <strong>Warning!</strong>
                <%= error %>
            </div>
            <% } %>


                <form action="/categories" method="POST" class="d-flex justify-content-start gap-3 my-4">
                    <input type="text" name="CategoryName" class="p-1" placeholder="Add Category" required>
                    <button type="submit" class="btn btn-primary">Add</button>
                </form>

                <table class="table mt-4">
                    <thead>
                        <tr>
                            <th>CategoryId</th>
                            <th>CategoryName</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% categories.forEach(category=> { %>
                            <tr>
                                <td>
                                    <%= category.CategoryId %>
                                </td>
                                <td>
                                    <%= category.CategoryName %>
                                </td>

                                <td>
                                    <a href="/categories/update/<%= category.CategoryId %>"
                                        class="btn btn-warning">Update</a>
                                    <form action="/categories/<%= category.CategoryId %>?_method=DELETE" method="POST"
                                        style="display:inline;">
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                                </td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
    </div>
</body>
</html>